/* Minimal welcome page styles */
.hero {
    color: white;
    height: 100px; /* navbar height */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
}


.logo {
    width: 50%;
    height: 100%;
    display: flex;
    padding-left: 2rem;
    align-items: center;
    justify-content: left;
}

.small-logo {
    height: 70%;
    width: auto;
    display: block;
    filter: invert(85%) saturate(720%) hue-rotate(175deg) brightness(110%) contrast(96%)
            drop-shadow(0 2px 10px rgba(255, 253, 253, 0.45));
}

.options {
    width: auto;
}

main {
    background-color: #f5f5f5;
    min-height: calc(100vh - 200px);
    padding: 0 0 2rem 0;
}

footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

footer p {
    margin: 0;
}